.changeColoronHover:hover {
    color: red !important;
    cursor: pointer;
}
.toasts-top-right {
    position: absolute;
    right: 10%;
    top: 0;
    z-index: 1040;
}

.align-right{
    text-align: right;
}