.container {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.table {
    width: 100%;
    border: 1px solid #EEEEEE;
}

.table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: 18px 0;
}

.table-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
}
.table-row:nth-of-type(odd) {
    background: #EEEEEE;
}

.table-data, .header__item {
    flex: 2 1 50%;
    text-align: center;
}
.illustrations__item{
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    flex: 3 1 100%;
}

.illustrations{
    flex: 3 1 100%;
}

.header__item {
    text-transform: uppercase;
}

.filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}
.filter__link::after {
    content: "";
    position: absolute;
    right: -18px;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.filter__link.desc::after {
    content: "(desc)";
}
.filter__link.asc::after {
    content: "(asc)";
}