<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'annonce.label', default: 'Annonce')}" />
        <title><g:message code="default.show.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#show-annonce" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        %{--<div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
                <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>--}%
        <div id="show-annonce" class="content scaffold-show" role="main">
            <h1><g:message code="default.show.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message" role="status">${flash.message}</div>
            </g:if>
        <ol class="property-list annonce">

            <li class="fieldcontain">
                <span id="titre-label" class="property-label">Titre</span>
                <div class="property-value" aria-labelledby="titre-label">${annonce.titre}</div>
            </li>

            <li class="fieldcontain">
                <span id="description-label" class="property-label">Description</span>
                <div class="property-value" aria-labelledby="description-label">${annonce.description}</div>
            </li>

            <li class="fieldcontain">
                <span id="prix-label" class="property-label">Prix</span>
                <div class="property-value" aria-labelledby="prix-label">${annonce.prix}</div>
            </li>

            <li class="fieldcontain">
                <span id="autheur-label" class="property-label">Autheur</span>
                <div class="property-value" aria-labelledby="autheur-label">${annonce.autheur.username}</div>
            </li>

            <li class="fieldcontain">
                <span id="illustrations-label" class="property-label">Illustrations</span>
            </li>
            <g:each in="${annonce.illustrations}" var="illustration">
                <div class="col-md-12 col-lg-6 col-xl-4" id="ill${illustration.id}">
                    <div class="card mb-2 bg-gradient-dark ">
                        <img src="${grailsApplication.config.assets.url + illustration.nomFichier}" alt="Illustration"/>
                    </div>
                </div>
            </g:each>
        </ol>
            %{--<f:display bean="annonce" />--}%
%{--
            <g:form resource="${this.annonce}" method="DELETE">
                <fieldset class="buttons">
                    <g:link class="edit" action="edit" resource="${this.annonce}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
                    <input class="delete" type="submit" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
                </fieldset>
            </g:form>
--}%
        </div>
    </body>
</html>
